@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,300&display=swap');
*{box-sizing: border-box; margin: 0; padding: 0;}
img{max-width: 100%;}
body{
    font-family: 'Montserrat' sans-serif;
    background-image:url("./img/olive-oil-g8d5e3214f_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: green;
}
nav>ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: c;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

nav ul li{list-style-type: none;}
nav ul a{
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: .7rem;
    font-size: 1.1rem;
}
nav ul a:hover{
    background-color: yellowgreen;
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
    padding: .5rem;
}
header h1{
    color: white;
    letter-spacing: .5rem;
    font-weight: 700;
    font-size: 3rem;
}
#elso{
    max-width: 25rem;
    border-radius: 50% !important;
    box-shadow: 1.5px 1.5px 1.5px, rgb(57, 156, 27);
    margin: .5rem
}
.sectionrow{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    gap: 4rem;
}
.sectionrow .card{
    border-radius: 0;
    border-width: 3px;
    border-top-color: gray;
    border-right-color: gray;
    border-bottom-color: gray;
    border-left-color: gray;
}
.card:hover{
    transform: translateY(-5px) scale(1.001) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}
.card2, .card3{
    margin-top: -2rem;
}
#testmozgás{
    border-color: white;
}
.myrow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}
.myrow .card{
    margin-top: 1rem;
}
.who-card{
    max-width: 1400px;
    width: 1400px;
}
.sleep-card {
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
  }
  
  .sleep-card img {
    width: 100%;
    height: auto;
  }
  
  .sleep-card h2 {
    font-size: 24px;
    margin: 20px;
  }
  
  .sleep-card p {
    margin: 10px 20px;
    font-size: 18px;
  }
  
  .sleep-card ul {
    margin: 10px 20px;
    padding: 0;
    font-size: 18px;
  }
  
  .sleep-card li {
    list-style: disc;
    margin-left: 20px;
  }
  
  .sleep-card .source {
    margin: 10px 20px;
    font-size: 14px;
    text-align: right;
    color: #666;
  }
  footer{
    background-color: rgb(107, 15, 15);
  }
  footer label{
    color: #ccc;
  }
.login>img{
    border-radius: 50%;
}
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
} 
  @media screen and (max-width: 600px) {
    .col-12 col-lg-4 .col-md-6{
        width: 100%;
    display: block;
    margin-bottom: 20px;
    }
  }